/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

/* Tailwind */
@import "tailwindcss";

/* Project Fonts */
@font-face {
  font-family: Getai;
  src: url("/fonts/GetaiGrotesk.woff2") format("woff2");
  font-display: swap;
}

/* Theme */
@theme {
  /* Fonts */
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --font-getai: "Getai", sans-serif;
}

/* CSS styles */
body {
  background: white;
  font-family: "Bricolage Grotesque", sans-serif;
}
