/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* CSS styles */
#canvas-container {
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: white;
}

.loader-container {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 12px;
  background-color: rgb(11,10,10);
  z-index: -10000;
}

.loader-bg {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 32px;
  background-color: white;
  background-image: url(./noise.svg);
  animation-timing-function: steps(20);
  animation: noise-animation 0.5s infinite;
  filter: grayscale(100%);
}

@keyframes noise-animation {
  0% {
    background-position: 0 0;
  }
  10% {
    background-position: -100px 100px;
  }
  20% {
    background-position: 150px -100px;
  }
  30% {
    background-position: -100px 100px;
  }
  40% {
    background-position: 100px -150px;
  }
  50% {
    background-position: -100px 200px;
  }
  60% {
    background-position: -200px -100px;
  }
  70% {
    background-position: 50px 100px;
  }
  80% {
    background-position: 100px -150px;
  }
  90% {
    background-position: 0px 200px;
  }
  100% {
    background-position: -100px 100px;
  }
}