/* Tailwind */
@import "tailwindcss";

/* Project Fonts */
@font-face {
  font-family: Getai;
  src: url("/fonts/GetaiGrotesk.woff2") format("woff2");
  font-display: swap;
}

/* Theme */
@theme {
  /* Fonts */
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --font-getai: "Getai", sans-serif;
}

/* CSS styles */
body {
  background: white;
  font-family: "Bricolage Grotesque", sans-serif;
}

h1 {
  @apply mt-2 font-getai text-5xl leading-14 text-amber-500 md:text-7xl md:leading-18 lg:mt-4;
}
